<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Currency List USD</title>

</head>
<body>
<div class="container my-2">
  <H2>Наша валюта (<span th:text="${thisDay.getBase()}">0</span>) ползет <span th:text="${behavior}">вверх</span></H2>
  <H2><span th:text="${thisDayDate}">0</span>: <span th:text="${thisDay.getOpponent()}">0</span> =
    <span th:text="${thisDay.getRates().get(thisDay.getOpponent())}">0</span></H2>
  <H2><span th:text="${historyDayDate}">0</span>: <span th:text="${history.getOpponent()}">0</span>
    = <span th:text="${history.getRates().get(history.getOpponent())}">0</span></H2>
  <img th:src="${img}">
</div>

<form action="#" th:action="@{/commentRub}" method="GET">
  <button type="submit">Проверить для альтернативной</button>
</form>
</body>
</html>