<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Currency List RUB</title>
</head>
<body>
<div class="container my-2" th:if="${searchFalse} == false">
  <H2>Наша валюта (<span th:text="${thisDay.getBase()}">0</span>) ползет вверх</H2>
  <H2>(Сегодня: <span th:text="${thisDay.getOpponent()}">0</span> = <span th:text="${thisDay.getRates().get(thisDay.getOpponent())}">0</span>
    Вчера : <span th:text="${history.getOpponent()}">0</span> = <span th:text="${history.getRates().get(history.getOpponent())}">0</span>)</H2>
  <img th:src="${img}">
</div>
<div class="container my-3" th:if="${searchFalse} == true">
  <H2>Наша валюта (<span th:text="${thisDay.getBase()}">0</span>) ползет вниз</H2>
  <H2>(Сегодня: <span th:text="${thisDay.getOpponent()}">0</span> = <span th:text="${thisDay.getRates().get(thisDay.getOpponent())}">0</span>
    Вчера : <span th:text="${history.getOpponent()}">0</span> = <span th:text="${history.getRates().get(history.getOpponent())}">0</span>)</H2>
  <img th:src="${img}">
  <br>

</div>
<br>
<a th:href="@{/index}"> назад </a>
</body>
</html>